* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.background {
  background-image: url(./src/images/app-background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-container {
  width: 90%;
  max-width: 450px;
  color: white;
  margin: 80px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-area input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search-area button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search-area button img {
  width: 35px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 60px;
  font-weight: 500;
}
.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}
.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.weather-info-col {
  display: flex;
  align-items: center;
  text-align: left;
}
.weather-info-col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
